
.titulo-agendamento {
  text-align: center;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filtro-especialidade, .filtro-medico {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 15px;
  gap: 10px;
  margin: 0 30px 50px 0;
}


.filtro-especialidade select, .filtro-medico select {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 13px;
  background-color: #e7f4f9;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
}

@media (max-width: 600px) {
  .filtros {
    flex-direction: column;
    align-items: center;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}

.modal-buttons button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.modal-buttons .cancel-button {
  background-color: #e7f4f9;
}

.modal-buttons .cancel-button:hover {
  background-color: #c1e9f8;
}

.modal-buttons .add-button {
  background-color: #0078d7;
  color: white;
}

.modal-buttons .add-button:hover {
  background-color: #025ca7;
}

.modal-content input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7; width: 80%;
}

.modal-content h2 {
  color: #0078d7;
}

.rbc-time-slot {
  height: 60px !important; /* Ajuste para o valor desejado */
}

.rbc-timeslot-group {
  min-height: 60px !important; /* Ajuste a altura mínima */
}
