.listaPlanosSaude {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    align-items: center;
}

.planos-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 60%;
}

.plano-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    background-color: #e7f4f9;
}

.user-icon-planos {
    width: 30px;
    height: 30px;
}

.plano-info {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
}

.plano-info span {
    display: block;
}

.plano-edita-deleta {
    display: flex;
    gap: 10px;
}

.lapis-plano {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.lixo-plano {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 20px;
}