.listaPacientes {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    align-items: center;
}

.dropdown {
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    min-width: 70%;
}

.dropdown select {
    width: 30%;
    padding: 15px;
    font-size: 13px;
    color: white;
    background-color: #0078d7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}


.pacientes-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 60%;
}

.paciente-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    background-color: #e7f4f9;
}

.user-icon-pacientes {
    width: 30px;
    height: 30px;
}

.paciente-info {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
}

.paciente-info span {
    display: block;
}

.paciente-edita-deleta {
    display: flex;
    gap: 10px;
}

.lapis-paciente {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.lixo-paciente {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 20px;
}