.dashboard {
    padding: 20px;
    text-align: center;
}

.grafico-container {
    margin-bottom: 40px;
    display: flex;
    gap: 80px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.grafico-container h3 {
    font-size: 25px;
}

.grafico-item {
    width: 40%;
}