.cronometro-sidebar {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tempo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .botoes button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
  }
  
  .botoes button:hover {
    background-color: #45a049;
  }
  