.receita {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
}

.header-receita {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.logo-receita {
    width: 80px;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.form-receita {
    display: flex;
    flex-direction: column;
}

.campo-duplo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.campo {
    width: 48%; /* Ajusta a largura dos campos para caber lado a lado */
    margin-bottom: 15px;
}

.campo input,
.campo textarea {
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}

.campo button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.campo button:hover {
    background-color: #45a049;
}

.botao-imprimir {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.botao-imprimir:hover {
    background-color: #45a049;
}

.receita-impressao {
    display: none; /* Esconde essa div para não aparecer na tela */
}

.header-impressao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-receita-impressao {
    width: 100px;
    margin-bottom: 10px;
}
