.receita {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
}

.header-receita {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.logo-receita {
    width: 80px;
    margin-right: 10px;
}

.header-receita h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.form-receita {
    display: flex;
    flex-direction: column;
}

.campo-duplo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
    gap: 10px;
}

.campo {
    width: 48%;
    /* Ajusta a largura dos campos para caber lado a lado */
    margin-bottom: 15px;
}

.campo input,
.campo textarea {
    padding: 8px;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
}

.campo button {
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
}

.campo button:hover {
    background-color: #015aa3;
}

.escreve-receita textarea {
    font-size: 16px;
    width: 100%;
}